.topnav
	a.active(href='/') Home
	|
	a(href='#news') News
	|
	a(href='#contact') Contact
	|
	a(href='#about') About
h1= message
form
	input(type='text', name='search', placeholder='Find your new home..')